<h3>About us</h3>
<p>Francesco Tedaldi - Matricola: 1234567</p>
<p>Giovanni Milletti - Matricola: 1234567</p>
<p>Teodori Daniele - Matricola: 1657325</p>

<script>
    function debug(){
        var msg = "debug";
        alert(msg);
        console.log(msg);
        //window.location.href = "/dashboard"
    }
</script>

<script>
    function print(){
        const someData = 'the_Data_You_Want_To_Print';
        //print on console (google chrome console :P)
        console.log(someData);
        //print on webpage
        document.getElementById('printHere').innerHTML = someData;
        //print as an alert
        alert(someData);
    }
</script>

<div class = "row">
    <input type="submit" value="Prova" class="btn" onclick="debug()">
    <!--<input type="submit" value="Api" class="btn">-->
    <button id="printButton" onclick="print()">Click Me To Print</button>
    <p id="printHere"></p>
</div>