<h3>About us</h3>
<h5>Questa app è stata totalmente sviluppata da studenti del corso di Reti di Calcolatori dell' università di Roma "La Sapienza".</h5>
<a href="https://github.com/francescotedaldi/Oroscopo_RC">Codice Github</a>

<p>Francesco Tedaldi - Matricola: 1852733</p>
<p>Giovanni Milletti - Matricola: 1884164</p>
<p>Daniele Teodori - Matricola: 1657325</p>