<h6>Dashboard</h6>
<h3>Benvenuto/a {{name}}</h3>
<br>Scegli il tuo segno zodiacale:

<select name="segno_zodiacale" required id="segno_zod">
    <option></option>
    <option value="aquarius">aquarius</option>
    <option value="pisces">pisces</option>
    <option value="aries">aries</option>
    <option value="taurus">taurus</option>
    <option value="gemini">gemini</option>
    <option value="cancer">cancer</option>
    <option value="leo">leo</option>
    <option value="virgo">virgo</option>
    <option value="libra">libra</option>
    <option value="scorpio">scorpio</option>
    <option value="sagittarius">sagittarius</option>
    <option value="capricorn">capricorn</option>
</select> <br>

<input type="submit" value="Invia">
<p>L'oroscopo di oggi:</p>