<h3><i class="fas fa-star"></i> Oroscopo RC</h3>
<div class="section">
    <p class="lead">Salva il tuo diario e il tuo oroscopo su Google Calendar!</p>
    
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Accedi con Google
    </a>
</div>