<script type="text/javascript">

    document.getElementById("formSegno").addEventListener("submit", getApi);


    var scegnoScelto = 'aquarius';
    var urlApi = 'http://ohmanda.com/api/horoscope/' + scegnoScelto;
    var request = require('request');


    function myFunction() {
        alert("The form was submitted");
    }

    function getApi() {

        function callback(error, response, body) {
            if (!error && response.statusCode == 200) {
                var jsonContent = JSON.parse(body);
                console.log("\n\n\n\n\n\n!!! GETAPI: !!!\n\n\n\n");
                console.log(jsonContent);
                var info_api = JSON.stringify(jsonContent);     //json to string
                console.log("\n\n\n\n\n\n");
            }
        }

        alert("GETAPI");

        request.get(urlApi, callback);

    }

</script>

<h3>Aggiungi il tuo diario di oggi</h3>

<div class="row">

    <form id="formSegno" action="/oroscopi" method="POST" class="col s12">

        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title">
                <label for="title">Titolo</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="segno" name="segno">
                    <option value="aries" selected>aries</option>
                    <option value="pisces">pisces</option>
                    <option value="taurus">taurus</option>
                    <option value="gemini">gemini</option>
                    <option value="cancer">cancer</option>
                    <option value="leo">leo</option>
                    <option value="virgo">virgo</option>
                    <option value="libra">libra</option>
                    <option value="scorpio">scorpio</option>
                    <option value="sagittarius">sagittarius</option>
                    <option value="capricorn">capricorn</option>
                </select>
                <label for="segno">Segno zodiacale</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Come ti senti oggi?</h5>
                <textarea id="body" name="body"></textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>