<h3>Salva Oroscopo</h3>

<div class="row">
    <form action="/oroscopi/{{oroscopo._id}}" method="POST" class="col s12">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <h6>Avendo effettuato l'accesso con Google, premendo su salva verrà creato un evento su Calendar nella
                seguente data:</h6>
            <h6>{{formatDate createdAt 'MMMM Do YYYY'}}</h6>
            <h6>Verrà salvato nella descrizione dell'evento l'oroscopo del segno:</h6>
            <h6>{{oroscopo.segno}}</h6>
            <h6>!!! DEBUG !!!</h6>
            <h6>{{oroscopo.oroscopo}}</h6>
            <h6>Vuoi salvare?</h6>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn" onclick='salvaOroscopo()'>
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>

<script type="text/javascript">
    function salvaOroscopo() {
        alert('Salvo su calendar...');
    }
</script>