<h3>Congratulazioni! il tuo oroscopo è stato salvato con successo</h3>
<h6>Hai salvato il Diario con titolo: {{oroscopo.title}}</h6>
<h6>Segno dell' oroscopo: {{oroscopo.segno}}</h6>
<h3></h3>
<h5>Puoi visualizzare l'oroscopo salvato su <a href="https://calendar.google.com/calendar" target="_blank">Google Calendar</a></h5>
<h3></h3>
<div class="row">
    <a href="/dashboard" class="btn orange">Torna alla Dashboard</a>
</div>
